<div class="ec_container">
    <!-- Introduction panier de commande -->
    <div class="ec_title">
        <h1>Catalogue</h1>
    </div>
    <div class="ec_subcontainer" ng-controller="ArticleListCtrl" ng-repeat="existingType in articlesExistingTypes">
        <h2>{{existingType.plurialLabelType}}</h2>
        <div class="ec_subcontainer_catalog" ng-show="articlesList">
            <div class="product_card product_card_{{article.idArticle}}" ng-repeat="article in articlesList | filter: category.label" ng-if="article.category.label === existingType.labelType">
                <a href="#!/article/{{article.idArticle}}" class="product_photo">
                    <img ng-src="./assets/images/articles/{{article.idArticle}}.jpg" height="130" />
                </a>
                <div class="product_details">
                    <span class="title">
                        <a href="#!/article/{{article.idArticle}}">{{article.label}}</a>
                    </span>
                    <p class="product_description">{{article.description | limitTo : 70}}<span ng-if="article.description.length >= 70">...</span></p>
                    <div class="product_others">    
                        <button class="error" ng-click="addArticleInBasket(article)">Ajouter au panier</button>
                        <p class="product_price">
                            <span class="price_value">{{article.unitPriceExcludingTaxFloatFormat}}</span>
                            <span class="currency">€</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>