<div class="ec_container" ng-controller="OrderHistoryCtrl">

    <!-- Introduction historique de commande -->
    <div class="ec_title">
        <h1>Commandes</h1>
    </div>

    <!-- Historique de commande -->
    <div class="ec_subcontainer">
        <ul class="ec_routes">
            <li ng-repeat="oos in orderOrganizationStatus" ng-class="{'active': oos.active === true}" ng-click="switchOrganizationStatus(oos.id)">{{oos.label}}</li>
        </ul>
        <div class="ec_container_order_history">
            
            <div class="an_order" ng-repeat="order in orderHistoryList[domain].orders" ng-class="{'active': order.active === true, 'ended': order.status === 'Livrée', 'in_progress': order.status === 'Validée' || order.status === 'Attribuée' || order.status === 'En cours de livraison', 'canceled': order.status === 'Non livrée' || order.status === 'Annulée'}">
                <div class="an_order_header">
                    
                    <div class="an_order_info">
                        <div class="order_number">
                            <span class="order_number_label">Commande n°</span>
                            <span class="order_number_value">{{order.idOrder}}</span>
                        </div>
                        <div class="order_status">
                            <span class="order_status_icon" ng-switch="order.status">
                                <i ng-switch-when="Validée" class="fas fa-spinner"></i>
                                <i ng-switch-when="Attribuée" class="fas fa-spinner"></i>
                                <i ng-switch-when="En cours de livraison" class="fas fa-spinner"></i>
                                <i ng-switch-when="Livrée" class="fas fa-check-circle"></i>
                                <i ng-switch-when="Non livrée" class="fas fa-times-circle "></i>
                                <i ng-switch-when="Annulée" class="fas fa-times-circle "></i>
                            </span>
                            <span class="order_status_label">{{order.status}}</span>
                        </div>
                        <div class="order_time">
                            <div class="order_date">
                                <span class="order_date">{{order.date}}</span>
                            </div>
                            <div class="order_hour">
                                <span class="order_hour_label">à</span>
                                <span class="order_hour">{{order.time}}</span>
                            </div>
                        </div>
                        <div class="order_shipping">
                            <span class="order_shipping_address">{{order.address.address}}</span>
                            <span class="order_shipping_zip">{{order.address.zip}}</span>
                            <span class="order_shipping_city">{{order.address.city}}</span>
                        </div>
                    </div>
                    <div class="an_order_actions">
                        <a class="btn_a confirm" href="#!/suivi/{{order.idOrder}}" ng-if="order.status === 'Validée' || order.status === 'Attribuée' || order.status === 'En cours de livraison'">Suivre la commande</a>
                        <button class="btn_a neutral_reverse" ng-click="dropdownOrder(order.idOrder)">Afficher les articles</button>
                    </div>

                </div>
                <div class="an_order_body">
                    <table class="order_products_list">
                        <thead>
                            <tr>
                                <th class="th_product_quantity">Quantité</th>
                                <th class="th_product_product_name">Produit</th>
                                <th class="th_empty"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in order.articles">
                                <td class="td_product_quantity">{{product.quantity}}</td>
                                <td class="td_product_product_name">{{product.label}}</td>
                                <td class="td_empty"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" class="ec_tf_label">Prix total HT</td>
                                <td class="ec_tf_total_price">
                                    <span class="total_price">
                                        <span class="price_value">{{order.totalPriceExcludingTaxFloat}}</span>
                                        <span class="currency">€</span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="ec_tf_label">Prix total TTC</td>
                                <td class="ec_tf_total_price">
                                    <span class="total_price">
                                        <span class="price_value">{{order.totalPriceIncludingTaxFloat}}</span>
                                        <span class="currency">€</span>
                                    </span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>