<div class="ec_container">
    <div class="ec_title">
        <h1>Suivi de la commande n°{{order.idOrder}}</h1>
    </div>
    <div class="ec_subcontainer">
        <div class="an_order" ng-class="{'active': order.active === true, 'ended': order.status === 'Livrée', 'in_progress': order.status === 'Validée' || order.status === 'Attribuée' || order.status === 'En cours de livraison', 'canceled': order.status === 'Non livrée' || order.status === 'Annulée'}">
            <div class="an_order_header">
                
                <div class="an_order_info">
                    <div class="order_number">
                        <span class="order_number_label">Commande n°</span>
                        <span class="order_number_value">{{order.idOrder}}</span>
                    </div>
                    <div class="order_status">
                        <span class="order_status_icon" ng-switch="order.status">
                            <i ng-switch-when="Validée" class="fas fa-spinner"></i>
                            <i ng-switch-when="Attribuée" class="fas fa-spinner"></i>
                            <i ng-switch-when="En cours de livraison" class="fas fa-spinner"></i>
                            <i ng-switch-when="Livrée" class="fas fa-check-circle"></i>
                            <i ng-switch-when="Non livrée" class="fas fa-times-circle "></i>
                            <i ng-switch-when="Annulée" class="fas fa-times-circle "></i>
                        </span>
                        <span class="order_status_label">{{order.status}}</span>
                    </div>
                    <div class="order_time">
                        <div class="order_date">
                            <span class="order_date">{{order.date}}</span>
                        </div>
                        <div class="order_hour">
                            <span class="order_hour_label">à</span>
                            <span class="order_hour">{{order.time}}</span>
                        </div>
                    </div>
                    <div class="order_shipping">
                        <span class="order_shipping_address">{{order.address.address}}</span>
                        <span class="order_shipping_zip">{{order.address.zip}}</span>
                        <span class="order_shipping_city">{{order.address.city}}</span>
                    </div>
                </div>

            </div>
            <div class="an_order_body"><div id="map"></div>
                <!--ng-map id="map" center="43.5670097, 1.4642106" zoom="12"></google-maps-->
                
            </div>
        </div>
    </div>
</div>