<div>
    <!-- Introduction au catalogue de produits -->
    <div id="ec_intro">
        <div class="ec_container">
            <div class="intro_text">
                <h1>Commander avec simplicité</h1>
                <p>Avec E-Command, commander une pizza n'aura jamais été aussi simple. Retrouvez-nous près de X pizzas différentes et de nombreuses boissons au choix.</p>
                <a class="btn_a confirm" href="#!/articles">Accéder au catalogue</a>
            </div>
            <!--img class="intro_img" src="./app/images/pizza-0003.png" alt="pizza-present" /-->
        </div>
    </div>

    <!-- Présentation des possibilités de l'application -->
    <div class="ec_container">
        <div class="ec_possibilities">
            <div class="possibilities_steps possibilities_step_1">
                <i class="fas fa-utensils"></i>
                <span class="libelle">Commander</span>
            </div>
            <div class="possibilities_steps possibilities_step_2">
                <i class="fas fa-history"></i>
                <span class="libelle">Suivre</span>
            </div>
            <div class="possibilities_steps possibilities_step_3">
                <i class="fas fa-bicycle"></i>
                <span class="libelle">Être livré</span>
            </div>
        </div>
    </div>
</div>