ec-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	background-color: #35373B;
	color: #FFFFFF;
}
	ec-footer .ec_container {
		display: flex;
		justify-content: center;
		align-items: center;
	}